name: Disable Checking ServerName

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # 赋予推送到 ghcr.io 的权限
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: modify
        run: |
          # 确保 tailscale 目录存在，如果子模块拉取失败则跳过修改避免报错
          if [ -d "tailscale" ]; then
            cd tailscale
            sed -i '/hi.ServerName != m.hostname/,+2d' cmd/derper/cert.go
          else
            echo "Tailscale directory not found!"
            exit 1
          fi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      # 使用 GitHub 自动生成的 Token 登录
      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          file: 'Dockerfile'
          platforms: linux/amd64
          context: ./
          push: true
          # 自动使用你的 GitHub 用户名
          tags: ghcr.io/${{ github.repository_owner }}/ip_derper:latest
